server:
    port: 8080

spring:
    jackson:
        mapper:
            accept-case-insensitive-enums: true
    application:
        name: techAssignment
    datasource:
        url: ${DB_URL:jdbc:postgresql://localhost:5433/app}
        username: ${DB_USER:app}
        password: ${DB_PASS:app}
    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
        open-in-view: false

springdoc:
    swagger-ui:
        path: /swagger-ui
    api-docs:
        path: /v3/api-docs

management:
    endpoints:
        web:
            exposure:
                include: health,info